.col-sm-8.blog-main
  %h2
    =@post.title
  %nav.breadcrumb.row
    .col
      = link_to "Home", root_path, class: "breadcrumb-item"
      = link_to "Blog", posts_path, class: "breadcrumb-item"
      = link_to @topic.title, topic_path(@topic), class: "breadcrumb-item"
      %span.breadcrumb-item.active
        =@post.title
      .float-right
        = link_to fa_icon('pencil-square-o'), edit_post_path(@post) if logged_in?(:site_admin)
        = link_to fa_icon('trash'), @post, method: :delete, data: { confirm: 'Are you sure you want to delete this post'} if logged_in?(:site_admin)
  %p
    = markdown @post.body
  %hr

  =render 'comments/comment_form'
  %div{id: "comments", 'data-post-id':"#{@post.id}"}
    =render @comments
