<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="keywords" content="<%= @seo_keywords %>">

    <%= stylesheet_link_tag    'posts', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/post_nav' %>
    <%= render 'shared/post_header' %>
    <div class="container">
      <div class="row">
        <%= yield %>
        <%= render 'shared/post_sidebar' %>
      </div>
    </div>
    <%= alerts %>
    <%= render 'shared/post_footer' %>
  </body>
</html>
